In [2]:
import pandas as pd
import numpy as np

#to visualize maps
!pip install folium
import folium

Collecting folium
  Downloading folium-0.11.0-py2.py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 2.8 MB/s  eta 0:00:01
Collecting branca>=0.3.0
  Downloading branca-0.4.1-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Installing collected packages: branca, folium
Successfully installed branca-0.4.1 folium-0.11.0

## Import our data

In [3]:
# The code was removed by Watson Studio for sharing.

  Neighborhoods   Latitudes   Longitudes   Area
0      Artemida   37.972288    24.012267      2
1        Rafina   38.023922    24.005432      2
2   Porto Rafti   37.891036    24.006039      2
3    Markopoulo   37.882380    23.933239      2
4        Koropi   37.900138    23.875645      2

In [4]:
df.shape

(58, 4)

In [6]:
df.columns

Index(['Neighborhoods', ' Latitudes', ' Longitudes', ' Area'], dtype='object')

In [7]:
df.rename(columns={' Latitudes':'Latitudes' , ' Longitudes':'Longitudes' , ' Area':'Area'} , inplace = True)

## Explore Areas - using Foursquare API

In [272]:
# to make a Foursquare API call 

CLIENT_ID = '******'
CLIENT_SECRET = '******'
VERSION = '20201115'
RADIUS = 1000
LIMIT = 100

In [247]:
import requests

venues_list = []

# Explore venues for each Neighborhood of the database

for Neigh, Lat, Lng in zip(df.Neighborhoods, df['Latitudes'], df['Longitudes']):
    
    url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(CLIENT_ID, 
                                                                                                                              CLIENT_SECRET, 
                                                                                                                              VERSION, 
                                                                                                                              Lat, Lng, 
                                                                                                                              radius, 
                                                                                                                              LIMIT)
    results = requests.get(url).json()  
    list_of_venues = results['response']['groups'][0]['items']
    
    for i in range(0, len(list_of_venues)):
        name = list_of_venues[i]['venue']['name']
        lat = list_of_venues[i]['venue']['location']['lat']
        lng = list_of_venues[i]['venue']['location']['lng']
        category = list_of_venues[i]['venue']['categories'][0]['name']
        neighborhood = Neigh
        venues_list.append([name, lat, lng, category, neighborhood])

venues = pd.DataFrame(data=venues_list)
venues.columns = ['Name', 'Latitude', 'Longitude', 'Category', 'Neighborhood']

In [248]:
venues.head()

               Name   Latitude  Longitude            Category Neighborhood
0      1989 Molle's  37.973867  24.010340            Beer Bar     Artemida
1          Δελφίνια  37.973340  24.010362  Seafood Restaurant     Artemida
2         Albatross  37.978347  24.008614                Café     Artemida
3  Taverna Rementzo  37.968992  24.007264        Fish Taverna     Artemida
4   Enalio (Ενάλιο)  37.967171  24.006441                Café     Artemida

In [249]:
'We have found {} venues!'.format(venues.shape[0])

'We have found 4191 venues!'

In [250]:
'There are also {} different categories of venues.'.format(len(venues['Category'].unique()))

'There are also 285 different categories of venues.'

In [251]:
venues['Category'].unique()

array(['Beer Bar', 'Seafood Restaurant', 'Café', 'Fish Taverna',
       'Meze Restaurant', 'Surf Spot', 'Dessert Shop', 'Souvlaki Shop',
       'Beach', 'Mobile Phone Shop', 'Mexican Restaurant', 'Coffee Shop',
       'Tsipouro Restaurant', 'Supermarket', 'Beach Bar',
       'Grilled Meat Restaurant', 'Creperie', 'Snack Place',
       'Greek Restaurant', 'Grocery Store', 'Pet Store', 'Bar',
       'Playground', 'Ouzeri', 'Gym / Fitness Center', 'Movie Theater',
       'Plaza', 'Chinese Restaurant', 'Hotel', 'Soccer Stadium',
       'Boat or Ferry', 'Pizza Place', 'Summer Camp', 'Restaurant',
       'Italian Restaurant', 'Bakery', 'Lounge', 'Taverna', 'Cheese Shop',
       'Asian Restaurant', 'Ice Cream Shop', 'Hot Dog Joint', 'Park',
       'Food & Drink Shop', 'Spa', 'Recreation Center', 'Cafeteria',
       'Dog Run', 'Donut Shop', 'Music Venue', 'Electronics Store',
       'Sports Club', 'Event Space', 'Gym', 'Cocktail Bar',
       'Burger Joint', 'Nightclub', 'Optical Shop', 'Video Store',
       'Flower Shop', 'Athletics & Sports', 'Art Museum', 'BBQ Joint',
       'Soccer Field', 'Toy / Game Store', 'Ski Lodge', 'Vineyard',
       'Ski Chairlift', 'Housing Development', 'Pool', 'Bus Stop',
       'Farmers Market', 'Bridal Shop', 'Campground', 'Tennis Court',
       'Daycare', 'Volleyball Court', 'Brewery', 'Candy Store',
       'Accessories Store', 'Fast Food Restaurant', 'Kebab Restaurant',
       'Gymnastics Gym', 'Martial Arts School', 'Convenience Store',
       'Bathing Area', 'Motorcycle Shop', 'Dance Studio',
       'Breakfast Spot', 'Japanese Restaurant', 'Other Nightlife',
       'Chocolate Shop', 'Sporting Goods Shop', 'Boxing Gym',
       'Fruit & Vegetable Store', 'Massage Studio', 'Carpet Store',
       'Furniture / Home Store', 'Pool Hall', 'Health & Beauty Service',
       'Stadium', 'Performing Arts Venue', 'Indoor Play Area',
       'Organic Grocery', 'Pharmacy', 'Recording Studio', 'Bookstore',
       'Historic Site', 'Farm', 'Gaming Cafe', 'African Restaurant',
       'Wine Bar', 'Mediterranean Restaurant', 'Cupcake Shop',
       'Tapas Restaurant', 'Sushi Restaurant', 'Garden Center',
       'Beer Garden', 'Wine Shop', 'Multiplex', 'Mountain', 'Forest',
       'Botanical Garden', 'Gourmet Shop', 'Hobby Shop', 'Pub',
       'German Restaurant', 'Salon / Barbershop', 'Office', 'Dairy Store',
       'Salad Place', 'American Restaurant', 'Basketball Court',
       'Theater', 'Sandwich Place', 'Indie Movie Theater', 'Bistro',
       'Kafenio', 'Bagel Shop', 'Cretan Restaurant', 'Noodle House',
       'Nail Salon', 'Clothing Store', 'Indian Restaurant',
       'Tennis Stadium', 'Fire Station', 'Betting Shop', 'Scenic Lookout',
       "Women's Store", 'Gift Shop', 'Garden', 'Stables',
       'Arts & Entertainment', 'Liquor Store', 'Video Game Store',
       'Food Truck', 'Vape Store', 'Tattoo Parlor', 'Drugstore',
       'Arts & Crafts Store', 'Pie Shop', 'Cosmetics Shop',
       'Outdoor Sculpture', 'Shoe Store', 'Rock Club', 'Pastry Shop',
       'Lingerie Store', 'Basketball Stadium', 'Track Stadium',
       'Turkish Restaurant', 'Pedestrian Plaza',
       'Middle Eastern Restaurant', 'Comfort Food Restaurant',
       'Paper / Office Supplies Store', 'Boutique', 'Food Court',
       'Hookah Bar', 'Herbs & Spices Store', 'Newsstand', 'Yoga Studio',
       'Latin American Restaurant', 'Butcher', 'Frozen Yogurt Shop',
       'Tanning Salon', 'Modern European Restaurant', 'Baseball Field',
       'Outdoors & Recreation', 'ATM', 'Gym Pool', 'Baby Store',
       'Fried Chicken Joint', 'Beer Store', 'Fish Market', 'Steakhouse',
       'Track', 'New American Restaurant', 'Modern Greek Restaurant',
       'Shopping Mall', 'Bougatsa Shop', 'Salsa Club', 'Magirio',
       'Kurdish Restaurant', 'Science Museum', 'Trail', 'Market',
       'Gastropub', 'Vegetarian / Vegan Restaurant', 'Resort',
       'Theme Park', 'Dive Shop', 'Food Service', 'Dive Spot',
       'Deli / Bodega', 'Warehouse Store', 'Golf Course',
       'Auto Dealership', 'Kids Store', 'Preschool', 'Smoke Shop',
       'Irish Pub', 'Mattress Store', 'Fish & Chips Shop', 'Tram Station',
       'Department Store', 'Antique Shop', 'Tea Room', 'Hotel Bar',
       'Falafel Restaurant', 'Russian Restaurant',
       'General Entertainment', 'River', 'Eastern European Restaurant',
       'Bubble Tea Shop', 'Music Store', 'Cultural Center', 'Board Shop',
       'South American Restaurant', 'Thai Restaurant', "Men's Store",
       'Jewelry Store', 'Auto Garage', 'Camera Store', 'Food',
       'Bowling Alley', 'Light Rail Station', 'Train Station',
       'Shipping Store', 'Museum', 'Vietnamese Restaurant', 'Whisky Bar',
       'History Museum', 'French Restaurant', 'Hill',
       'Peruvian Restaurant', 'Distillery', 'Bed & Breakfast',
       'Roof Deck', 'Monument / Landmark', 'Print Shop',
       'Czech Restaurant', 'Gay Bar', 'Dive Bar', 'Hotel Pool',
       'Fishing Store', 'City', 'Street Food Gathering', 'Social Club',
       'Planetarium', 'Record Shop', 'Art Gallery', 'Juice Bar',
       'Tiki Bar', 'Neighborhood', 'Vacation Rental', 'Souvenir Shop',
       'Patsa Restaurant', 'Skating Rink', 'Business Service', 'Factory',
       'Rest Area', 'Harbor / Marina', 'Filipino Restaurant',
       'Skate Park', 'Nudist Beach', 'Buffet'], dtype=object)

In [252]:
dummies = pd.get_dummies(venues['Category'])

In [253]:
dummies.drop('Neighborhood',axis=1, inplace=True)
dummies.head()

,ATM,Accessories Store,African Restaurant,American Restaurant,Antique Shop,Art Gallery,Art Museum,Arts & Crafts Store,Arts & Entertainment,Asian Restaurant,...,Video Store,Vietnamese Restaurant,Vineyard,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [254]:
venues_dummies = pd.concat([venues, dummies], axis=1, sort=False)
venues_dummies.head()

,Name,Latitude,Longitude,Category,Neighborhood,ATM,Accessories Store,African Restaurant,American Restaurant,Antique Shop,...,Video Store,Vietnamese Restaurant,Vineyard,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Yoga Studio
0,1989 Molle's,37.973867,24.010340,Beer Bar,Artemida,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Δελφίνια,37.973340,24.010362,Seafood Restaurant,Artemida,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Albatross,37.978347,24.008614,Café,Artemida,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Taverna Rementzo,37.968992,24.007264,Fish Taverna,Artemida,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Enalio (Ενάλιο),37.967171,24.006441,Café,Artemida,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [255]:
venues_dummies = venues_dummies.drop(['Name', 'Latitude', 'Longitude', 'Category'], axis=1)
venues_dummies.head()

,Neighborhood,ATM,Accessories Store,African Restaurant,American Restaurant,Antique Shop,Art Gallery,Art Museum,Arts & Crafts Store,Arts & Entertainment,...,Video Store,Vietnamese Restaurant,Vineyard,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Yoga Studio
0,Artemida,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Artemida,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Artemida,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Artemida,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Artemida,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [256]:
venues_grouped = venues_dummies.groupby('Neighborhood').mean().reset_index()
venues_grouped.head()

,Neighborhood,ATM,Accessories Store,African Restaurant,American Restaurant,Antique Shop,Art Gallery,Art Museum,Arts & Crafts Store,Arts & Entertainment,...,Video Store,Vietnamese Restaurant,Vineyard,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Yoga Studio
0,Acharnes,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
1,Agia Paraskevi,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.01,0.000000,0.01
2,Alimos,0.000000,0.0,0.0,0.0,0.01,0.0,0.0,0.01,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
3,Ano Liosia,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
4,Argiroupoli,0.010309,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.010309,0.010309,0.0,0.010309,0.00,0.010309,0.00

## Input rating for previously visited areas

In [257]:
A = {'Glyfada': [8] , 'Penteli': [10] ,'Agia Paraskevi': [9] }

InputRatings = pd.DataFrame(data=A)
cols = InputRatings.columns.to_list()
cols.sort()
InputRatings = InputRatings[cols]
InputRatings = InputRatings.transpose().rename(columns={0:'Rating'}).transpose()
InputRatings

        Agia Paraskevi  Glyfada  Penteli
Rating               9        8       10

### Create user's profile with his preferences

In [258]:
neighborhood_venues = venues_grouped.set_index('Neighborhood')
neighborhood_venues.head()

,ATM,Accessories Store,African Restaurant,American Restaurant,Antique Shop,Art Gallery,Art Museum,Arts & Crafts Store,Arts & Entertainment,Asian Restaurant,...,Video Store,Vietnamese Restaurant,Vineyard,Volleyball Court,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Women's Store,Yoga Studio
Neighborhood,,,,,,,,,,,,,,,,,,,,,
Acharnes,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
Agia Paraskevi,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.01,0.000000,0.01
Alimos,0.000000,0.0,0.0,0.0,0.01,0.0,0.0,0.01,0.0,0.01,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
Ano Liosia,0.000000,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.00,0.000000,0.00
Argiroupoli,0.010309,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.010309,0.010309,0.0,0.010309,0.00,0.010309,0.00

In [259]:
list_of_categories = []

for i in range(0,len(A.keys())):
    mylist = neighborhood_venues.loc[InputRatings.columns[i]]!=0
    for j in range(0, len(mylist)):
        if(mylist[j]):
            list_of_categories.append(neighborhood_venues.columns[j])

list_of_categories=np.unique(list_of_categories)

In [260]:
'{} different venues were included in User\'s rating'.format(len(list_of_categories))

"86 different venues were included in User's rating"

In [261]:
Feature_Set = neighborhood_venues[list_of_categories].loc[InputRatings.columns]
Feature_Set.head()

,American Restaurant,Auto Dealership,BBQ Joint,Baby Store,Bagel Shop,Bakery,Bar,Beer Bar,Beer Store,Bistro,...,Supermarket,Sushi Restaurant,Taverna,Tennis Court,Track Stadium,Tsipouro Restaurant,Vegetarian / Vegan Restaurant,Video Store,Wine Shop,Yoga Studio
Agia Paraskevi,0.00,0.00,0.01,0.02,0.01,0.050000,0.040000,0.01,0.01,0.01,...,0.03,0.01,0.010000,0.01,0.00,0.00,0.00,0.00,0.01,0.01
Glyfada,0.01,0.01,0.00,0.00,0.00,0.040000,0.010000,0.00,0.00,0.00,...,0.07,0.01,0.020000,0.02,0.01,0.01,0.01,0.01,0.01,0.00
Penteli,0.00,0.00,0.00,0.00,0.00,0.074074,0.037037,0.00,0.00,0.00,...,0.00,0.00,0.074074,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [262]:
User_Profile = Feature_Set.transpose().dot(InputRatings.transpose())
User_Profile.head()

                     Rating
American Restaurant    0.08
Auto Dealership        0.08
BBQ Joint              0.09
Baby Store             0.18
Bagel Shop             0.09

In [263]:
user_Favourite_Venues = User_Profile.rename(columns = {'Rating':'Similarity'}).sort_values('Similarity', ascending = False).head(10)
user_Favourite_Venues

                    Similarity
Café                  2.871852
Greek Restaurant      2.201481
Bakery                1.510741
Italian Restaurant    1.291111
Coffee Shop           1.020000
Taverna               0.990741
Supermarket           0.830000
Bar                   0.810370
Souvlaki Shop         0.790370
Dessert Shop          0.680000

In [264]:
Recommendation_Matrix = neighborhood_venues[list_of_categories].dot(User_Profile)
Recommendation_Matrix.head()

                  Rating
Neighborhood
Acharnes        1.055296
Agia Paraskevi  0.775444
Alimos          0.669281
Ano Liosia      1.105602
Argiroupoli     0.771821

In [265]:
Recommendation_Matrix.sort_values('Rating', ascending = False, inplace = True)

In [266]:
top_10_Options = Recommendation_Matrix.drop(InputRatings.columns.values).head(10)
top_10_Options

                Rating
Neighborhood
Ano Liosia    1.105602
Galatsi       1.096870
Paiania       1.093033
Kryoneri      1.069519
Acharnes      1.055296
Petroupoli    1.031541
Zografou      0.977307
Nea Makri     0.961825
Gkizi         0.883544
Ilion         0.879046

## Visualize in a map the best options for the User

In [267]:
# Find for the top 10 options their location

top_10_loc = df.set_index('Neighborhoods').loc[top_10_Options.transpose().columns.values][['Latitudes','Longitudes']]

In [268]:
top_10_loc.head()

               Latitudes  Longitudes
Neighborhoods
Ano Liosia     38.081266   23.698601
Galatsi        38.018361   23.754698
Paiania        37.955042   23.852486
Kryoneri       38.136250   23.828648
Acharnes       38.084607   23.737183

In [269]:
attica_location = (37.931582, 23.878146)
attica_map = folium.Map(location=attica_location, zoom_start = 11)
Radius = np.linspace(7, 3, num=10)

for label, lat, lon, nRadius in zip(top_10_Options.transpose().columns.values, top_10_loc.Latitudes, top_10_loc.Longitudes, Radius):
      
    folium.CircleMarker(
            [lat, lon],
            radius=nRadius,
            popup=label,
            color='blue',
            fill=True,
            fill_color='blue',
            fill_opacity=0.7).add_to(attica_map)
    
#add also rated areas
input_loc = df.set_index('Neighborhoods').loc[InputRatings.columns.values][['Latitudes','Longitudes']]

for label, lat, lon, rat in zip(InputRatings.columns.values, input_loc.Latitudes, input_loc.Longitudes, InputRatings.loc['Rating']):
      
    folium.CircleMarker(
            [lat, lon],
            radius=5,
            popup=label + ', Rating:' + str(rat) ,
            color='red',
            fill=True,
            fill_color='red',
            fill_opacity=0.7).add_to(attica_map)

### Red color - Rated Areas / Blue color - Best options for visit (Radius is proportional to the idealty)

In [270]:
attica_map